*{
    padding: 0;
    margin: 0;
    border: 0;
    background: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    line-height: 160%;
    letter-spacing: 1px;
    word-spacing: 3px;
}
body{
    min-height: 100%;
    display: flex;
   justify-content: center;
}
#create{
    background-color: red;
    min-height: 100%;
    width:520px;
    margin: auto;
    position: absolute;
}
#head{
    display: grid;
    grid-template-columns: 3em 3em 1fr 3em;
    height: 3em;
    width: 100%;
    padding: .5em 0;
}
#head .span{
    color: white;
    display: flex;
    justify-content: center;
}
.img{
    width: 100%;
    height: auto;
}
.arrow{
    width: 1em;
    display: flex;
}
.profile{
    width: 3em;
    height: 3em;
    border-radius: 50%;
}
.ellipse{
    height: 1.2em;
    margin: auto;
}
#other{
    width: 100%;
    min-height: calc(100% - 4em);
    position: absolute;
    display: grid;
    grid-template-rows: calc(100% - 6em) 6em;
}
#story_img{
    width: 100%;
/*    background: yellow;*/
    height: 100%;
    display: flex;
    align-items: center;
}
#story_description{
    width: 100%;
    align-items: baseline;
    position: absolute;
    bottom: 0;
    min-height: 6em;
    background: #00000026;
    display: flex;
    align-items: center;
    z-index: 2;
}
#story_pic{
     width: auto; 
    max-width: 100%;
    height: auto;
    max-height: 75vh;
    margin: auto;
    z-index: 1;
}
#textarea{
    padding: .4em ;
    margin:   .2em;
    line-height: 150%;
    word-spacing: 3px;
    letter-spacing: .7px;
    font-size: 100%;
    width: 80%;
    height: auto;
    overflow: auto;
    resize: none;
    color: white;
    border: 1px solid rgba(252, 252, 252, 0.35);
    border-radius: .5em;
    max-height: 80vh;
     cursor: pointer
    
}
#textarea:focus {
    outline: none !important;
     border:0;
  box-shadow: 0 0 36px 8px #ffffff38;
   
}
#submit{
    width:20%;
    background: blue;
    display: none;
}
#submit_label{
    width:20%;
    display: flex;
align-content: center;
    justify-content: center;
background: transparent;
}
#submit_label_img{
    width: 1.5em;
    height: 1.5em;
    background: #0592de;
    border-radius: 50%;
    padding: .5em;
}
#img_send{
    width: 80%;
    background: #0592de;
    padding: 10% 0% 10% 20%;
}
#textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
}

#textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: gray;
}
#textarea::-ms-input-placeholder { /* Microsoft Edge */
  color: gray;
}
#add{
    display: none;
}
#added #add{
    display: block;
}
#added #add{
    display: block;
}

#image_file{
    display: none;
}
#image_file_label{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#story_pic_add{
   position: absolute;
    height: 2em;
    width: 2em;
}
#tap_para{
    color:white;position: absolute;transform: translate(0px, 2em);
    z-index: 2;
    background: transparent;
    transition: all .3s ease;
}
body:active #tap_para,body:focus #tap_para{
    opacity: 0;
}
.my_options{
      position: fixed;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.43);
    top: 0;
    left: 0;
    z-index: 10;
    display: none;  
    transition:  all .3s;
}
.my_options.active{
    display: flex;
}
.my_options .items{
    width: 400px;
    margin: auto;
    background: #4a4a4a;
    max-height: 70%;
    overflow-x:hidden;
    overflow-y:auto;
    align-items: center;
    align-content: baseline;
    border-radius:10px;
       padding: 0.7em 0 1em 0;
 animation: 0.3s ease 0s 1 normal none running show_alter_timeline ! important;
    animation-duration: .3s ! important;
  
}
.my_options .items *{
     background: #4a4a4a;
    color: #f0f0f0;
}

.my_options .items::-webkit-scrollbar {
  width: 10px;
    padding: 2em 0 ;
}
.select_category {
    font-size: 80%;
    padding: 0 1em .8em 1em;
}
.follow-conn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
    margin-top: 1em;
}
.post_options li div img {
    height: 2em;
    width: 1.5em;
    margin: .1em 1em .1em .1em;
    padding: .2em;
    border-radius: 0;
    
}
.conn-name {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
    margin-right: auto;
    font-size: 1em;
    width: 70%;
    color: black;
}
.my_options_block {
    z-index: -1;
    display: block;
}


/* Track */
.my_options .items::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
    margin: 2em 0 1em 0;
}
 
/* Handle */
.my_options .items::-webkit-scrollbar-thumb {
  background: #939393; 
  border-radius: 10px;
}

/* Handle on hover */
.my_options .items::-webkit-scrollbar-thumb:hover {
  background: #808080; 
}
@media only screen and (max-width: 1024px) {
     .my_options .items::-webkit-scrollbar {
display: none;
}
    @keyframes show_alter_timeline {
  from {bottom:-400px}
  to {bottom:0}
}
   
    .my_options .items{
  width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    bottom: 0;
}
}

.share_with{
padding: 1em .4em 1em .4em;
    font-size: .8em;
    color: gray;
    display: flex;
    align-items: center;
   
}
.options {
    margin-right: 1em;
}
#bottom_border{
    border-bottom: 1px solid #7e7e7e;
}
.list_fetch {
    display: grid;
    grid-template-columns: 5em 1fr 4em;
    width: 100%;
    padding: .5em 0;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.certer_mid{
   display: grid;
    align-items: center;
}
.list_image{
width: 2.4em;
    max-height: 2.4em;
}
.name{
font-weight: bold
}
.description{
    font-size: .8em;
    color:gray;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


@media only screen and (max-width: 720px) {
      #create{
width: 100%;
} 
}

@media only screen and (min-width: 720px) {
#textarea::-webkit-scrollbar {
  width: 10px;
}
#textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#textarea::-webkit-scrollbar-thumb {
  background: #888;
}
#textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}
}


@media only screen and (max-width: 480px) {
 
}
.loader{
    z-index: 10000000000 ! important;
    
}
.lds-spinner {
    background: white;
}