.grid{
    display: grid;
    grid-template-columns: 5em 1fr 3em;
    align-items: center;
}
.flex_s{
    display: flex;
    justify-content: center;
    padding: 1em;
}
.profile_img{
    height: 3em;
    width:3em;
    border-radius: 50%;
}
.grid_mid{
/*    display: grid;*/
    padding: 1em  0;
}
.name{
/*    font-size: 1.1em;*/
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.name small{
        font-size: 11px;
    color: #55ab29;
    font-weight: 400;
}
.name small:nth-child(2) {
    color: var(--blue);
}
.name small:nth-child(3) {
    color: darkorange;
}
.description,.location{
    font-size: .8em;
    color: gray;
    padding-top: .15em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.loc-icon {
    width: 10px;
    height: .8em;
    margin: 0 .5em 0  0;
    filter: invert(0.5) ! important;
}
.more-icon {
    width: 2em;
    height: 2em;
    background-image: url(../../SVG/ellipsis-regular.svg);
    /* transform: rotate(90deg); */
    background-size: 1em;
    border-radius: 50%;
    filter: invert(0.5);
    transform: rotate(90deg)
}
.name_link{
    color: black;
}