Options +ExecCGI
AddHandler cgi-script .py

RewriteEngine On


RewriteRule ^(logout|search|activity|like|post|saved_post|share_profile|settings|edit_username|edit_password|saved_posts)$ $1.php [NC,L]
